.header {
  background-color: $color-white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem $padding-side-desktop;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.06);
  &__heading {
    font-size: 2.4rem;
    font-weight: 800;

    @include respond(mobile) {
      font-size: 1.4rem;
      line-height: 1.429;
    }
  }

  @include respond(mobile) {
    padding: 3rem 4.25vw;
  }
}
.dark .header {
  background-color: $color-dark-blue-1;
}
